
@model DataLayer.Login
@{
    ViewBag.Title = "StudentDetailsEdit";
    Layout = "~/Areas/College/Views/Shared/_CollegeAdministrator.cshtml";
  
}

<style>
    Category label {
        padding: 10px;
    }

    .starvalid {
        color: red;
    }
</style>
<script type="text/javascript">

    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#userImage').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }

    function show1(input) {
        if (input.files && input.files[0]) {
            var filerdr1 = new FileReader();
            filerdr1.onload = function (e) {
                $('#signImage').attr('src', e.target.result);
            }
            filerdr1.readAsDataURL(input.files[0]);
        }
    }
</script>
<script src="~/JS/Commonjs.js"></script>
<link href="~/Content/Recruitmentpreocess.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row spacebottom">
        <div class="report-part">
            <ul>
                <li class="active"><a href="~/College/Home/StudentSubjectsEdit/@ViewBag.ID"> Choose Subject Edit </a></li>
                <li><a href="#"> Basic Detail </a></li>

            </ul>
        </div>
    </div>
    <div class="all-content-wrapper" style="margin-left:0px !important">
        <!-- Advanced Form Start -->
        <div class="advanced-form-area mg-b-15">
            @if (TempData["StMessage"] == null) { }
                else
                {
                    <div class="alert-wrap1 shadow-inner wrap-alert-b">

                        <div class="alert alert-success " role="alert" style="text-align:center !important">
                            <div>@TempData["StMessage"]</div>

                        </div>
                    </div>
                }
            
            <div class="sparkline10-graph">
                <div class="input-knob-dial-wrap">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h3 style="text-align:center">Basic Details of Application No: @if (ViewBag.App != null) { @ViewBag.App }</h3>
                            <div class="form-group-inner">
                                <div class="login-btn-inner">
                                    <div>
                                        <div class="sparkline10-list mg-tb-30 responsive-mg-t-0 table-mg-t-pro-n dk-res-t-pro-0 nk-ds-n-pro-t-0" style="text-align: left;">

                                            <div class="sparkline10-graph">
                                                <div class="input-knob-dial-wrap">
                                                    <div class="row all-form-element-inner">
                                                        <div class="form-group-inner">
                                                            <div class="row login-btn-inner">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="product-payment-inner-st">
                                                                        <ul id="myTabedu1" class="tab-review-design">
                                                                            <li class="active"><a href="#description">Basic Information</a></li>
                                                                        </ul>
                                                                        <div id="myTabContent" class="tab-content custom-product-edit">
                                                                            <div class="product-tab-list tab-pane fade active in" id="description">
                                                                                <div>
                                                                                    <div>
                                                                                        <div class="review-content-section basic-detail-part">
                                                                                            @using (Html.BeginForm("StudentDetailsEdit", "Home", FormMethod.Post, new { id = "myform", enctype = "multipart/form-data" }))

                                                                                            {
                                                                                                @Html.AntiForgeryToken()
                                                                                                <div id="dropzone1" class="pro-ad">
                                                                                                    <div class="row">


                                                                                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                                                            <label>Admission Category <span class="starvalid">*</span> :</label>
                                                                                                            @Html.DropDownListFor(model => model.AdmisitionCategory, new SelectList(ViewBag.Admissiontype, "CommonId", "title"), "Select Adminission Type..", new { @class = "form-control", @id = "AdminissionType", @required = "required", @readonly = "readonly", @disabled = "disabled" })

                                                                                                        </div>
                                                                                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                                                            <label>Programme type <span class="starvalid">*</span> :</label>
                                                                                                            @Html.DropDownListFor(model => model.EducationType, new SelectList(ViewBag.Educationtype, "CommonId", "title", @ViewBag.eduid), "Select Programme Type..", new { @class = "form-control", @id = "Educationtype", @required = "required", @readonly = "readonly", @disabled = "disabled" })

                                                                                                        </div>
                                                                                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                                                            <label>Select Course <span class="starvalid">*</span> :</label>
                                                                                                            @Html.DropDownListFor(model => model.CourseCategory, new SelectList(ViewBag.Course, "CourseCategoryID", "CourseCategory"), "Select Course..", new { @class = "form-control", @id = "Coursetype", @required = "required", @readonly = "readonly", @disabled = "disabled" })

                                                                                                        </div>

                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <span><label class="col-md-12 pl-10">(Name of applicant in English)</label></span>
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>Title <span class="starvalid">*</span></label></span>
                                                                                                            @Html.DropDownListFor(model => model.title, new SelectList(ViewBag.stitle, "CommonId", "title"), "Select Title..", new { @class = "form-control", @id = "Title", @required = "required" })
                                                                                                        </div>
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>First Name <span class="starvalid">*</span></label></span>
                                                                                                            
                                                                                                            @Html.TextBoxFor(model => model.FirstName, "", new { @class = "form-control", @placeholder = "First Name", @required = "required" })
                                                                                                            @Html.HiddenFor(model => model.hid)

                                                                                                        </div>
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>Middle Name</label></span>
                                                                                                            @Html.TextBoxFor(model => model.MiddleName, "", new { @class = "form-control", @placeholder = "Middle Name" })
                                                                                                        </div>
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>Last Name <span class="starvalid">*</span></label></span>
                                                                                                            @Html.TextBoxFor(model => model.LastName, "", new { @class = "form-control", @placeholder = "Last Name" })
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <span><label class="col-md-12 pl-10 pt-5">(आवेदक का नाम हिन्दी में)</label></span>

                                                                                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                                                            <span><label>पहला नाम <span class="starvalid">*</span></label></span>
                                                                                                           
                                                                                                            @Html.TextBoxFor(model => model.FirstNameInHindi, "", new { @class = "form-control", @placeholder = "पहला नाम", @id = "FirstNameInHindi", @required = "required" })
                                                                                                           

                                                                                                        </div>
                                                                                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                                                            <span><label>मध्य नाम</label></span>
                                                                                                            @Html.TextBoxFor(model => model.MiddleNameInHindi, "", new { @class = "form-control", @id = "MiddleNameInHindi", @placeholder = "मध्य नाम" })
                                                                                                        </div>
                                                                                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                                                            <span><label>अंतिम नाम <span class="starvalid">*</span></label></span>
                                                                                                            @Html.TextBoxFor(model => model.LastNameInHindi, "", new { @class = "form-control", @id = "LastNameInHindi", @placeholder = "अंतिम नाम" })
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>Sex (लिंग) <span class="starvalid">*</span></label></span>
                                                                                                            @Html.DropDownListFor(model => model.Gender, new SelectList(ViewBag.Gender, "CommonId", "title", ""), "Select Gender ..", new { @class = "form-control", @id = "Gender", @required = "required" })

                                                                                                        </div>
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                                                                                                            <div class="data-custon-pick" id="data_2">
                                                                                                                <span><label>Date of birth (जन्म की तारीख) <span class="starvalid">*</span></label></span>
                                                                                                                <div class="input-mark-inner mg-b-22 input-group date">

                                                                                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                                                                    @Html.TextBoxFor(model => model.DOB, new { @class = "form-control", @id = "datepicker", @maxlenght = "10", @autocomplete = "off", @placeholder = "DD/MM/YYYY", @onkeypress = "return false;", @required = "required" })
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>Category.(जाति की श्रेणी) <span class="starvalid">*</span></label></span>
                                                                                                            @*<span><img src="~/Img/name.png" class="lable-text"></span>*@
                                                                                                            @Html.DropDownListFor(model => model.CastCategory, new SelectList(ViewBag.CasteCategory, "CommonId", "title", ""), "Select Caste ..", new { @class = "form-control", @id = "Cast", @required = "required", @disabled = "disabled" })

                                                                                                        </div>
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>Mobile No. (मोबाइल नंबर) <span class="starvalid">*</span></label></span>
                                                                                                            @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", @maxlength = "10", @minlength = "6", @oninput = "OnlyIntvalue(this);", @placeholder = "Mobile no.", @required = "required" })

                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>Email Id (ईमेल आईडी) <span class="starvalid">*</span></label></span>
                                                                                                            @Html.TextBoxFor(model => model.Email, "", new { @class = "form-control", @placeholder = "Email Address", @type = "email", @required = "required" })

                                                                                                        </div>
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>Blood Group (रक्त समूह)<span class="starvalid">*</span></label></span>
                                                                                                            @Html.DropDownListFor(model => model.BloodGroup, new SelectList(ViewBag.bloodgroup, "bloodgrouid", "BloodGroup", ""), "Select Blood_Group ..", new { @class = "form-control", @id = "Blood_Group", @required = "required" })

                                                                                                        </div>
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>Nationality (राष्ट्रीयता) <span class="starvalid">*</span></label></span>
                                                                                                            @*<span><label>Nationality  <img src="~/Img/national.png" />(राष्ट्रीयता)&nbsp;<span class="starvalid">*</span></label></span>*@
                                                                                                            @Html.DropDownListFor(model => model.Nationality, new SelectList(ViewBag.Nationality, "CommonId", "title", ""), "Select Nationality ..", new { @class = "form-control", @id = "Nationality", @required = "required" })

                                                                                                        </div>
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="display:none;">
                                                                                                            <span><label>Mother Tongue (मातृ भाषा)</label></span>
                                                                                                            @Html.DropDownListFor(model => model.MotherTongue, new SelectList(ViewBag.MotherTongue, "CommonId", "title", ""), "Select MotherTongue ..", new { @class = "form-control", @id = "MotherTongue" })

                                                                                                        </div>
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>Religion (धर्म) <span class="starvalid">*</span></label></span>
                                                                                                            @Html.DropDownListFor(model => model.Religion, new SelectList(ViewBag.Religion, "CommonId", "title", ""), "Select Religion ..", new { @class = "form-control", @id = "Religion", @required = "required" })

                                                                                                        </div>
                                                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="ReligonOther" style="display: none;">
                                                                                                            <span><label>Mention your Religon (अपने धर्म का उल्लेख करें) <span class="starvalid">*</span></label></span>
                                                                                                            @Html.TextBoxFor(model => model.ReligonOther, new { @class = "form-control", @Id = "txtReligonOther", @placeholder = "Mention your Religon (अपने धर्म का उल्लेख करें)" })

                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-md-12">
                                                                                                            <ul id="myTabedu1" class="tab-review-design mt-10">


                                                                                                                <li class="active">
                                                                                                                    <a href="#description">
                                                                                                                        Special Category विशेष श्रेणी  @*<img src="~/Img/Sharani.png" />*@
                                                                                                                    </a>
                                                                                                                </li>
                                                                                                            </ul>
                                                                                                        </div>

                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="">
                                                                                                            <span><label class="readio-label">If you are General Economical Weaker Section <BR />(यदि आप सामान्य आर्थिक कमजोर वर्ग हैं)?</label></span>
                                                                                                            @Html.RadioButton("is_GEW", "True", new { @class = "", @id = "is_GEWt" , @disabled = "disabled" })Yes
                                                                                                            @Html.RadioButton("is_GEW", "False", new { @class = "", @id = "is_GEWf", @disabled = "disabled" })No
                                                                                                            </div>
                                                                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="">
                                                                                                                <span><label class="readio-label">If you are handicapped/(यदि आप विकलांग/दिव्यांग हैं)?</label></span>
                                                                                                                @Html.RadioButtonFor(model => model.ishandicapped, "True", new { @class = "", @id = "ishandicapped", @disabled = "disabled" })Yes
                                                                                                                @Html.RadioButtonFor(model => model.ishandicapped, "False", new { @class = "", @id = "ishandicapped", @disabled = "disabled" })No

                                                                                                            </div>
                                                                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="">
                                                                                                                <span><label class="readio-label">If you are Ex-Servicemen /(यदि आप पूर्व-सेवा मैन हैं)?</label></span>
                                                                                                                @Html.RadioButtonFor(model => model.isex_service_man, "True", new { @class = "", @id = "isex_service_man", @disabled = "disabled" })Yes
                                                                                                                @Html.RadioButtonFor(model => model.isex_service_man, "False", new { @class = "", @id = "isex_service_man", @disabled = "disabled" })No
                                                                                                            </div>
                                                                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="">
                                                                                                                <span><label class="readio-label">If you are NCC Candidate/(यदि आप एनसीसी कैंडिडेट हैं)?</label></span>
                                                                                                                @Html.RadioButtonFor(model => model.is_ncc_candidate, "True", new { @class = "", @id = "is_ncc_candidate", @disabled = "disabled" })Yes
                                                                                                                @Html.RadioButtonFor(model => model.is_ncc_candidate, "False", new { @class = "", @id = "is_ncc_candidate", @disabled = "disabled" })No
                                                                                                            </div>

                                                                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="">
                                                                                                                <span><label class="readio-label">If you are sports candidate/(यदि आप खेल उम्मीदवार हैं)?</label></span>
                                                                                                                @Html.RadioButtonFor(model => model.IsSports, "True", new { @class = "", @id = "is_ncc_candidate", @disabled = "disabled" })Yes
                                                                                                                @Html.RadioButtonFor(model => model.IsSports, "False", new { @class = "", @id = "is_ncc_candidate", @disabled = "disabled" })No
                                                                                                            </div>
                                                                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                                                <span><label class="readio-label">If you are belong to Ward /(यदि आप कर्मचारियों के हैं)?</label></span>
                                                                                                                @Html.RadioButtonFor(model => model.IsStaff, "True", new { @class = "", @id = "is_ncc_candidate", @disabled = "disabled" })Yes
                                                                                                                @Html.RadioButtonFor(model => model.IsStaff, "False", new { @class = "", @id = "is_ncc_candidate", @disabled = "disabled" })No
                                                                                                            </div>

                                                                                                        </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-md-12">
                                                                                                            <ul id="myTabedu1" class="tab-review-design">
                                                                                                                <li class="active">
                                                                                                                    <a href="#description">

                                                                                                                        @*<img src="~/Img/address.png" />*@
                                                                                                                        Correspondence   Address (पत्राचार का पता)
                                                                                                                    </a>
                                                                                                                </li>
                                                                                                            </ul>

                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>Address/(पता) <span class="starvalid">*</span></label></span>
                                                                                                            @Html.TextBoxFor(model => model.CurrentAddress, "", new { @class = "form-control", @placeholder = "Address", @required = "required" })

                                                                                                        </div>
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>City/(शहर) <span class="starvalid">*</span></label></span>
                                                                                                            @Html.TextBoxFor(model => model.CA_City, "", new { @class = "form-control", @placeholder = "city", @required = "required" })
                                                                                                        </div>
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>PinCode/(पिन कोड) <span class="starvalid">*</span></label></span>
                                                                                                            @Html.TextBoxFor(model => model.CA_PinCode, "", new { @class = "form-control", @placeholder = "PinCode", @id = "pincode", @oninput = "OnlyIntvalue(this);", @Maxlength = "6", @required = "required" })
                                                                                                        </div>
                                                                                                        <div class="form-group col-md-4" style="display:none">
                                                                                                            <span class="form-group col-md-4"><label>Country <span class="starvalid">*</span></label></span>
                                                                                                            @Html.DropDownListFor(model => model.CA_Country, new SelectList(ViewBag.country, "ID", "Name", ""), new { @class = "form-control", @id = "Country", @required = "required" })
                                                                                                        </div>
                                                                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                            <span><label>State/(राज्य) <span class="starvalid">*</span></label></span>
                                                                                                            @Html.DropDownListFor(model => model.CA_State, new SelectList(ViewBag.CAState, "stateID", "statename"), "Select State..", new { @class = "form-control", @id = "State", @required = "required" })
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-md-12">
                                                                                                            <ul id="myTabedu1" class="tab-review-design">
                                                                                                                <li class="active"><a href="#description">Permanent  Address (स्थाई पता)</a></li>

                                                                                                            </ul>
                                                                                                        </div>
                                                                                                        <div class="col-sm-12">
                                                                                                            <div class="dec-body checkbox-content">
                                                                                                                <input type="checkbox" value=""
                                                                                                                       id="parmanentcheckbox" /> ( if Your Permanent Address and Correspondence  Address are Same/अगर आपका स्थायी पता और @*<img src="~/Img/patrachar.png" />*@पत्राचार पता समान है)
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>


                                                                                                        <div class="row">
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>Address/(पता) <span class="starvalid">*</span></label></span>
                                                                                                                @Html.TextBoxFor(model => model.PA_Address, "", new { @class = "form-control", @placeholder = "PAddress", @required = "required" })
                                                                                                            </div>
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>City/(शहर) <span class="starvalid">*</span></label></span>
                                                                                                                @Html.TextBoxFor(model => model.PA_City, "", new { @class = "form-control", @placeholder = "Pcity", @required = "required" })
                                                                                                            </div>
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>PinCode/(पिन कोड) <span class="starvalid">*</span></label></span>
                                                                                                                @Html.TextBoxFor(model => model.PA_PinCode, "", new { @class = "form-control", @placeholder = "PPinCode", @oninput = "OnlyIntvalue(this);", @Maxlength = "6", @required = "required" })
                                                                                                            </div>
                                                                                                            <div class="form-group col-md-3" style="display:none">
                                                                                                                <span class="form-group col-md-4"><label>Country <span class="starvalid">*</span></label></span>
                                                                                                                @Html.DropDownListFor(model => model.PA_Country, new SelectList(ViewBag.Pcountry, "ID", "name", ""), new { @class = "form-control", @id = "PCountry", @required = "required" })
                                                                                                            </div>
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>State/(राज्य) <span class="starvalid">*</span></label></span>
                                                                                                                @Html.DropDownListFor(model => model.PA_State, new SelectList(ViewBag.PAState, "stateID", "statename"), "Select State..", new { @class = "form-control", @id = "PState", @required = "required" })
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <ul id="myTabedu1" class="tab-review-design">
                                                                                                            <li class="active"><a href="#description"> Father /Husband Details (पिता / पति का विवरण)</a></li>
                                                                                                        </ul>
                                                                                                        <div class="row">
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>Title/(शीर्षक) <span class="starvalid">*</span></label></span>
                                                                                                                @Html.DropDownListFor(model => model.Ftitle, new SelectList(ViewBag.ftitle, "CommonId", "title"), "Select Title..", new { @class = "form-control", @id = "Ftitle", @required = "required" })
                                                                                                            </div>
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>Name/(नाम अंग्रेज़ी में) <span class="starvalid">*</span></label></span>
                                                                                                                @*<span><label>Name/(नाम <img src="~/Img/english.png" /> में) <span class="starvalid">*</span></label></span>*@
                                                                                                                @Html.TextBoxFor(model => model.FatherName, "", new { @class = "form-control", @placeholder = "Father Name", @required = "required" })
                                                                                                            </div>
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>Name/(नाम हिन्दी में) <span class="starvalid">*</span></label></span>
                                                                                                                @Html.TextBoxFor(model => model.FatherNameInHindi, "", new { @class = "form-control", @placeholder = "नाम हिन्दी में", @id = "FatherNameInHindi", @required = "required" })
                                                                                                            </div>
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>Mobile No/(मोबाइल नंबर)</label></span>
                                                                                                                @Html.TextBoxFor(model => model.FatherMobile, new { @class = "form-control", @oninput = "OnlyIntvalue(this);", @Maxlength = "10", @placeholder = "Father Mobile" })
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="row">
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>Email/(ईमेल)</label></span>
                                                                                                                @Html.TextBoxFor(model => model.FatherEmail, "", new { @class = "form-control", @placeholder = "Father Email", @type = "email" })

                                                                                                            </div>
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>Qualification/(योग्यता)</label></span>
                                                                                                                @Html.TextBoxFor(model => model.FatherQualification, "", new { @class = "form-control", @placeholder = "Father Qualification" })

                                                                                                            </div>
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>Occupation/(व्यवसाय)</label></span>
                                                                                                                @Html.TextBoxFor(model => model.FatherOccupation, "", new { @class = "form-control", @placeholder = "Father Occupation" })

                                                                                                            </div>
                                                                                                        </div>

                                                                                                        <ul id="myTabedu1" class="tab-review-design">
                                                                                                            <li class="active"><a href="#description">Mother Details (माँ का विवरण)</a></li>
                                                                                                        </ul>
                                                                                                        <div class="row">
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>Name/(नाम अंग्रेज़ी में) <span class="starvalid">*</span></label></span>
                                                                                                                @*<span><label>Name/(नाम <img src="~/Img/english.png" /> में) <span class="starvalid">*</span></label></span>*@
                                                                                                                @Html.TextBoxFor(model => model.MotherName, "", new { @class = "form-control", @placeholder = "Mother Name", @required = "required" })

                                                                                                            </div>
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>Name/(नाम हिन्दी में) <span class="starvalid">*</span></label></span>
                                                                                                                @Html.TextBoxFor(model => model.MotherNameInHindi, "", new { @class = "form-control", @placeholder = "Name/(नाम हिन्दी में)", @id = "MotherNameInHindi", @required = "required" })

                                                                                                            </div>
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>Name/(मोबाइल)</label></span>
                                                                                                                @Html.TextBoxFor(model => model.MotherMobile, new { @class = "form-control", @oninput = "OnlyIntvalue(this);", @Maxlength = "10", @placeholder = "Mother Mobile" })

                                                                                                            </div>
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>Email/(ईमेल)</label></span>
                                                                                                                @Html.TextBoxFor(model => model.MotherEmail, "", new { @class = "form-control", @placeholder = "Mother Email", @type = "email" })

                                                                                                            </div>

                                                                                                        </div>
                                                                                                        <div class="row">

                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>Qualification/(योग्यता)</label></span>

                                                                                                                @Html.TextBoxFor(model => model.MotherQualification, "", new { @class = "form-control", @placeholder = "Mother Qualification" })

                                                                                                            </div>
                                                                                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                                                                                <span><label>Occupation/(व्यवसाय)</label></span>
                                                                                                                @Html.TextBoxFor(model => model.MotherOccupation, "", new { @class = "form-control", @placeholder = "Mother Occupation" })

                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <ul id="myTabedu1" class="tab-review-design">
                                                                                                            <li class="active"><a href="#description">Photo And Signature Details/(फोटो और हस्ताक्षर का विवरण)</a></li>
                                                                                                        </ul>
                                                                                                        <div class="row">

                                                                                                            <div class="col-md-6">
                                                                                                                <span><label>Upload Photo</label></span>
                                                                                                                <div class="row">
                                                                                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                                                        @if (Model != null)
                                                                                                                        {
                                                                                                                            if (Model.stphoto == null)
                                                                                                                            {
                                                                                                                                <img id="userImage" height="100px" width="100px" style="border:solid;width:100px !important;height:100px !important" src='~/Student/PhotoandSign/noimage.png' />

                                                                                                                            }
                                                                                                                            else

                                                                                                                            {
                                                                                                                                <img id="userImage" height="100px" width="100px" style="border:solid;width:100px !important;height:100px !important" src='@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.stphoto' />

                                                                                                                            }
                                                                                                                        }
                                                                                                                        else
                                                                                                                        {
                                                                                                                            <img id="userImage" height="100px" width="100px" style="border:solid;width:100px !important;height:100px !important" src='~/Student/PhotoandSign/noimage.png' />
                                                                                                                        }
                                                                                                                        <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                                                                            <div class="input append-big-btn">
                                                                                                                                <div class="file-button">
                                                                                                                                    Browse
                                                                                                                                    <input type="file" id="photo" onchange="document.getElementById('append-big-btn').value = this.value; check(this); show(this)" name="photo" >
                                                                                                                                </div>
                                                                                                                                @Html.TextBoxFor(model => model.stphoto, "", new { @class = "form-control", @id = "append-big-btn", @placeholder = "no file selected", @readonly = "readonly" })

                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="row">
                                                                                                                    <div class="col-sm-12"><span class="starvalid starvalid1">* Allow File Extension (.jpg,.jpeg,.bmp,.jif,.png) File Size(50 KB Maximum)</span></div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="col-md-6">
                                                                                                                <span><label>Upload Signature</label></span>
                                                                                                                <div class="row">
                                                                                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                                                        @if (Model != null)
                                                                                                                        {
                                                                                                                            if (Model.stsign == null)
                                                                                                                            {
                                                                                                                                <img id="signImage" style="border:solid;width:100px !important;height:100px !important" src='~/Student/PhotoandSign/noimage.png' />

                                                                                                                            }
                                                                                                                            else

                                                                                                                            {
                                                                                                                                <img id="signImage" style="border:solid;width:100px !important;height:100px !important" src='@System.Configuration.ConfigurationManager.AppSettings["AmozonbucketPath"]/Student/Photoandsign/@Model.stsign' />

                                                                                                                            }
                                                                                                                        }
                                                                                                                        else
                                                                                                                        {
                                                                                                                            <img id="signImage" style="border:solid;width:100px !important;height:100px !important" src='~/Student/PhotoandSign/noimage.png' />
                                                                                                                        }
                                                                                                                        <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                                                                            <div class="input append-big-btn">
                                                                                                                                <div class="file-button">
                                                                                                                                    Browse
                                                                                                                                    <input type="file" onchange="document.getElementById('append-big-btn2').value = this.value; check(this);show1(this);" id="sign" name="sign" >
                                                                                                                                </div>
                                                                                                                                @*<input type="text" id="append-big-btn2" placeholder="no file selected" readonly="readonly">*@
                                                                                                                                @Html.TextBoxFor(model => model.stsign, "", new { @class = "form-control", @id = "append-big-btn2", @placeholder = "no file selected", @readonly = "readonly" })
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="row">
                                                                                                                    <div class="col-sm-12"><span class="starvalid starvalid1">* Allow File Extension (.jpg,.jpeg,.bmp,.jif,.png) File Size(50 KB Maximum)</span></div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        
                                                                                                        <div class="row">
                                                                                                            <div class="col-lg-12">
                                                                                                                <div class="payment-adress">
                                                                                                                    @if (Model != null)
                                                                                                                    { 
                                                                                                                            <input type="submit" value="Submit" class="btn btn-primary waves-effect waves-light" />                                                                                                                           
                                                                                                                        
                                                                                                                    }
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>                                                                                                        

                                                                                                    </div>

                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
                            <script>
                                $(function ()
                                {
                                    $("#Educationtype option").each(function ()
                                    {
                                        if ($(this).val() ==((@ViewBag.eduid)))
                                        {
                                            $(this).attr('selected', 'selected');
                                        }
                                    });
                                });
                                $(function ()
                                {
                                    $("#Gender option").each(function ()
                                    {
                                        if ($(this).val() ==((@ViewBag.genderid)))
                                        {
                                            $(this).attr('selected', 'selected');
                                        }
                                    });
                                });
                                $(function ()
                                {
                                    $("#CastCategory option").each(function ()
                                    {
                                        if ($(this).val() ==((@ViewBag.castid)))
                                        {
                                            $(this).attr('selected', 'selected');
                                        }
                                    });
                                });

                                $(function ()
                                {
                                    $("#Blood_Group option").each(function ()
                                    {
                                        if ($(this).val() ==((@ViewBag.bloodgroupid)))
                                        {
                                            $(this).attr('selected', 'selected');
                                        }
                                    });
                                });
                                $(function ()
                                {
                                    $("#Title option").each(function ()
                                    {
                                        if ($(this).val() ==((@ViewBag.titileid)))
                                        {
                                            $(this).attr('selected', 'selected');
                                        }
                                    });
                                });
                                $(function ()
                                {
                                    $("#Ftitle option").each(function ()
                                    {
                                        if ($(this).val() ==((@ViewBag.ftitileid)))
                                        {
                                            $(this).attr('selected', 'selected');
                                        }
                                    });
                                });
                                $(function ()
                                {
                                    $("#Nationality option").each(function ()
                                    {
                                        if ($(this).val() ==((@ViewBag.Nationalityid)))
                                        {
                                            $(this).attr('selected', 'selected');
                                        }
                                    });
                                });
                                $(function ()
                                {
                                    $("#Religion option").each(function ()
                                    {
                                        if ($(this).val() ==((@ViewBag.Religionid)))
                                        {
                                            $(this).attr('selected', 'selected');
                                        }
                                    });
                                });
                                $(function ()
                                {
                                    $("#MotherTongue option").each(function ()
                                    {
                                        if ($(this).val() ==((@ViewBag.MotherTongueid)))
                                        {
                                            $(this).attr('selected', 'selected');
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>

           
        </div>
        <div id="progress" class="modal">
            <div class="center">
                <img src="~/images/loader4.gif" /> loading...................
            </div>
        </div>
        <script src="~/JS/Studentadminissionform.js"></script>
        @*<script src="~/Content/js/datapicker/bootstrap-datepicker_back10year.js"></script>*@
    </div>
</div>
<script>
    $("#myform").submit(function (e) {
        showloader();
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        var abc=@Convert.ToInt16(DataLayer.CommonSetting.Religion.OtherReligion);
        console.log("abc"+ abc);
        if ($('#Religion').val() == abc) {
            $('#ReligonOther').css('display', 'block');
            $('#lblrgn').css('display', 'block');
            $('#txtReligonOther').attr('required', 'required');
        }

        $('#Religion').change(function () {
            //debugger;
            if ($('#Religion').val() == abc) {
                $('#ReligonOther').css('display', 'block');
                $('#txtReligonOther').attr('required', 'required');
                $('#lblrgn').css('display', 'block');

            }
            else {
                $('#ReligonOther').css('display', 'none');
                $('#txtReligonOther').removeAttr('required');
                $('#lblrgn').css('display', 'none');
                $('#txtReligonOther').val('');
            }
        });
        $("#Gender").change(function (event) {
            debugger;
            return;
            //$('#Cast').find("option").remove();
            //$("#Cast").append($("<option></option>").val("").html("--Select Category--"));
            //var res = $(this).val();
            //if (res == "")
            //    res = 0;
            //$.ajax({
            //    url: "/College/Home/Bind_caste",
            //    data: { gender: res },
            //    cache: false,
            //    type: "POST",
            //    dataType: "json",
            //    // contentType: "application/json; charset=utf-8",
            //    success: function (data) {

            //        //console.log(data);
            //        $('#Cast').find("option").remove();
            //        $("#Cast").append($("<option></option>").val("").html("--Select Category--"));
            //        $.each(data, function (key, value) {
            //            $("#Cast").append($("<option></option>").val(value.CommonId).html(value.Title));
            //        });
            //    }
            //});
        });

        $("#Title").change(function (event) {
            debugger;
            $('#Gender').find("option").remove();
            $("#Gender").append($("<option></option>").val("").html("--Select Gender--"));
            var res = $(this).val();
            if (res == "")
                res = 0;
            $.ajax({
                url: "/College/Home/Bind_gender",
                data: { title: res },
                cache: false,
                type: "POST",
                dataType: "json",
                //contentType: "application/json; charset=utf-8",
                success: function (data) {

                    //console.log(data);
                    $('#Gender').find("option").remove();
                    $("#Gender").append($("<option></option>").val("").html("--Select Gender--"));
                    $.each(data, function (key, value) {
                        $("#Gender").append($("<option></option>").val(value.CommonId).html(value.Title));
                    });
                }
            });
            $('#typeTitle').find("option").remove();
            $("#typeTitle").append($("<option></option>").val("").html("--Select Title--"));
            $('#Ftitle').find("option").remove();
            $("#Ftitle").append($("<option></option>").val("").html("--Select Title--"));
            $.ajax({
                url: "/College/Home/Bind_ftitle",
                data: { title: res },
                cache: false,
                type: "POST",
                dataType: "json",
                success: function (data) {

                    //console.log(data);
                    $('#typeTitle').find("option").remove();
                    $("#typeTitle").append($("<option></option>").val("").html("--Select Title--"));
                    $('#Ftitle').find("option").remove();
                    $("#Ftitle").append($("<option></option>").val("").html("--Select Title--"));
                    $.each(data, function (key, value) {
                        $("#typeTitle").append($("<option></option>").val(value.CommonId).html(value.Title));
                        $("#Ftitle").append($("<option></option>").val(value.CommonId).html(value.Title));
                    });
                }
            });
        });
    });
    $("#parmanentcheckbox").change(function (event) {
        //debugger;
        //var res11 = $("#parmanentcheckbox").check();
        if ($('#parmanentcheckbox').is(":checked")) {


            if ($("#Address").val() == "") {
                alert("Please Enter Address !!");
                $(this).val();
                $(this).prop('checked', false);
                return;
            }
            if ($("#city").val() == "") {
                alert("Please Enter City !!");
                $(this).prop('checked', false);
                return;
            }
            if ($("#pincode").val() == "") {
                alert("Please Enter PinCode !!");
                $(this).prop('checked', false);
                return;
            }
            if ($("#Country").val() == "") {
                alert("Please Select Country !!");
                $(this).prop('checked', false);
                return;
            }
            if ($("#State").val() == "") {
                alert("Please Select State !!");
                $(this).prop('checked', false);
                return;
            }
            $("#PA_Address").val($("#CurrentAddress").val());
            $("#PA_PinCode").val($("#pincode").val());
            $("#PA_City").val($("#CA_City").val());

            $('#PCountry').val($("#Country").val());

            $("#PA_City").attr('readonly', 'readonly');
            $("#PA_Address").attr('readonly', 'readonly');
            $("#PA_PinCode").attr('readonly', 'readonly');
            $("#PState").attr('disabled', 'disabled');

            $("#PState").append($("<option></option>").val("").html("--Select State--"));
            var res = $("#Country").val()
            if (res == "")
                res = 0;
            $.ajax({
                url: "/College/Home/State_Bind/",
                data: { id: res },
                cache: false,
                type: "POST",
                dataType: "json",
                success: function (data) {

                    // console.log(data);
                    $('#PState').find("option").remove();
                    $("#PState").append($("<option></option>").val("").html("--Select State--"));
                    $.each(data, function (key, value) {
                        $("#PState").append($("<option></option>").val(value.Value).html(value.Text));
                    });
                    $('#PState').val($("#State").val());
                }
            });

        }
        else {
            $("#PA_Address").val('');
            $("#PA_PinCode").val('');
            $("#PA_City").val('');
            // $('#PCountry').val('');
            $('#PState').val("");
            $("#PA_City").removeAttr('readonly');
            $("#PA_Address").removeAttr('readonly');
            $("#PA_PinCode").removeAttr('readonly');
            $("#PState").removeAttr('disabled');
            var res = $("#Country").val()
            if (res == "")
                res = 0;
            $.ajax({
                url: "/College/Home/State_Bind/",
                data: { id: res },
                cache: false,
                type: "POST",
                dataType: "json",
                success: function (data) {

                    // console.log(data);
                    $('#PState').find("option").remove();
                    $("#PState").append($("<option></option>").val("").html("--Select State--"));
                    $.each(data, function (key, value) {
                        $("#PState").append($("<option></option>").val(value.Value).html(value.Text));
                    });
                   
                }
            });
            //$("#PState").append($("<option></option>").val("").html("--Select State--"));
        }
    });
</script>
<script type="text/javascript" src="https://www.google.com/uds"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
    google.load("elements", "1", { packages: "transliteration" });
</script>
<script>
    function OnLoad() {

        var options = {
            sourceLanguage:
                google.elements.transliteration.LanguageCode.ENGLISH,
            destinationLanguage:
                [google.elements.transliteration.LanguageCode.HINDI],
            shortcutKey: 'ctrl+g',
            transliterationEnabled: true
        };
        //debugger;

        var control = new
            google.elements.transliteration.TransliterationControl(options);
        control.makeTransliteratable(["FirstNameInHindi"]);
        control.makeTransliteratable(["MiddleNameInHindi"]);
        control.makeTransliteratable(["LastNameInHindi"]);
        control.makeTransliteratable(["FatherNameInHindi"]);
        control.makeTransliteratable(["MotherNameInHindi"]);

    } //end onLoad function

    google.setOnLoadCallback(OnLoad);

</script>
<script>
    check = function (photo) {

        var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png", ".pdf"];
        var arrInputs = document.getElementsByTagName("input");
   
    
        //  debugger;
        for (var i = 0; i < arrInputs.length; i++) {
            var oInput = arrInputs[i];
       
     
            if (oInput.type == "file") {
                var sFileName = oInput.value;
                if (oInput.files[0] != undefined) {
                    var sFileNamesize = oInput.files[0].size;
                }
          
          
            
                if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions.length; j++) {
                        var sCurExtension = _validFileExtensions[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValid = true;                       
                        }
                    }


                    if (!blnValid) {
                        oInput.value = "";                 
                        alert("Sorry, file is invalid ");
                        return false;
                    }
                    else {
                        if (sFileNamesize > 512000) {
                            oInput.value = "";                      
                            alert("File is too big!");
                            break;
                        }
                    }

                }
       
            }
        }

        return true;
    }
</script>
